<a href="https://colab.research.google.com/github/konkasivaji/690-stats-and-visulaization/blob/main/world_development_explorer/Part_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Public Sector
The public sector is also part of the economy that maintains infrastructure, public transportation, public education, health care, and police and military services, among other things. In today's world, every nation devotes a greater percentage of its GDP on the Military. Military has a crucial role in protecting democratic and free market movements from both internal and external dangers by providing security assistance, training, and equipment. So lets investigate the publis sector. with this information, like based on its military spending and level of dependence on foreign countries when it comes to imports.

## Why is it important to you and/or to others?
Spending on the military makes the military stronger. This power makes people less likely to attack on country. If the country doesn't spend money on the military, its enemies may see it as an easy target. So, even though local defense spending may be more expensive, it creates more value in the form of stronger national security and less disruptions to trade and commerce. If a country's defense system is fully integrated, it can also help the economy.

## What questions do you have in mind and would like to answer?
Based on these indicators **Military expendicture (cureent USD), Military expenditure(% of GDP) and Arms imports( SIPRI trend indicator values)** i would like to do some research on: 
  * [what percentage of GDP is being spent on military?](#theme-installion)
  * [What percentage of Arms imports are Going on?](#theme-installion)
  * [What are the Military expendicture for those countries?](#theme-installion)

#Analysis
* Data Source : Wang, C. (2021). The world development explorer Available from [httpï»¿://www.worlddev.xyz](#theme-installion)
* **Topics : Public Sector**
* **[Countries: India, Pakisthan, Russian Federation, China, United States.](#theme-installion)**
* **[Time Period : 2007 - 2020](#theme-installion)**

In [32]:
import pandas as pd
import plotly
import plotly.express as px

In [45]:
Data_url = 'https://raw.githubusercontent.com/konkasivaji/690-stats-and-visulaization/main/world_development_explorer/Part-B/wdx_data.csv'

df = pd.read_csv(Data_url)

In [46]:
df.shape

(1481, 10)

In [47]:
df.head()

,Unnamed: 0,Year,Country Code,Country Name,Region,Income Group,Lending Type,MS.MIL.MPRT.KD,MS.MIL.XPND.CD,MS.MIL.XPND.GD.ZS
0,0,2007,AFG,Afghanistan,South Asia,Low income,IDA,41000000,2.195802e+08,2.566267
1,1,2007,AGO,Angola,Sub-Saharan Africa,Lower middle income,IBRD,31000000,2.032433e+09,3.114054
2,2,2007,ALB,Albania,Europe & Central Asia,Upper middle income,IBRD,5000000,1.948403e+08,1.820765
3,3,2007,ARE,United Arab Emirates,Middle East & North Africa,High income,Not classified,929000000,8.460994e+09,3.280521
4,4,2007,ARG,Argentina,Latin America & Caribbean,Upper middle income,IBRD,24000000,2.296448e+09,0.792548

In [48]:
df.tail()

,Unnamed: 0,Year,Country Code,Country Name,Region,Income Group,Lending Type,MS.MIL.MPRT.KD,MS.MIL.XPND.CD,MS.MIL.XPND.GD.ZS
1476,2275,2020,UKR,Ukraine,Europe & Central Asia,Lower middle income,IBRD,18000000,5.924201e+09,4.129198
1477,2276,2020,URY,Uruguay,Latin America & Caribbean,High income,IBRD,25000000,1.163608e+09,2.321460
1478,2277,2020,USA,United States,North America,High income,Not classified,687000000,7.782320e+11,3.741160
1479,2281,2020,XKX,Kosovo,Europe & Central Asia,Upper middle income,IDA,1000000,7.896501e+07,1.060553
1480,2283,2020,ZMB,Zambia,Sub-Saharan Africa,Low income,IDA,1000000,2.121424e+08,1.154225

In [49]:
df.sample(5)

,Unnamed: 0,Year,Country Code,Country Name,Region,Income Group,Lending Type,MS.MIL.MPRT.KD,MS.MIL.XPND.CD,MS.MIL.XPND.GD.ZS
291,462,2009,TCD,Chad,Sub-Saharan Africa,Low income,IDA,35000000,7.389037e+08,7.955662
4,4,2007,ARG,Argentina,Latin America & Caribbean,Upper middle income,IBRD,24000000,2.296448e+09,0.792548
1064,1639,2017,ARM,Armenia,Europe & Central Asia,Upper middle income,IBRD,18000000,4.436104e+08,3.849731
1263,1941,2018,THA,Thailand,East Asia & Pacific,Upper middle income,IBRD,627000000,6.876115e+09,1.357574
1335,2039,2019,KOR,"Korea, Rep.",East Asia & Pacific,High income,Not classified,1480000000,4.389086e+10,2.673128

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1481 non-null   int64
 1   Year               1481 non-null   int64
 2   Country Code       1481 non-null   object
 3   Country Name       1481 non-null   object
 4   Region             1481 non-null   object
 5   Income Group       1481 non-null   object
 6   Lending Type       1481 non-null   object
 7   MS.MIL.MPRT.KD     1481 non-null   int64
 8   MS.MIL.XPND.CD     1481 non-null   float64
 9   MS.MIL.XPND.GD.ZS  1481 non-null   float64
dtypes: float64(2), int64(3), object(5)
memory usage: 115.8+ KB

In [53]:
#Re-naming the Indicators
df = df.rename(columns = {"MS.MIL.XPND.GD.ZS":"Military expenditure (% of GDP)","MS.MIL.XPND.CD":"Military expenditure (current USD)","MS.MIL.MPRT.KD":"Arms imports (SIPRI trend indicator values)"})
df

,Unnamed: 0,Year,Country Code,Country Name,Region,Income Group,Lending Type,Arms imports (SIPRI trend indicator values),Military expenditure (current USD),Military expenditure (% of GDP)
0,0,2007,AFG,Afghanistan,South Asia,Low income,IDA,41000000,2.195802e+08,2.566267
1,1,2007,AGO,Angola,Sub-Saharan Africa,Lower middle income,IBRD,31000000,2.032433e+09,3.114054
2,2,2007,ALB,Albania,Europe & Central Asia,Upper middle income,IBRD,5000000,1.948403e+08,1.820765
3,3,2007,ARE,United Arab Emirates,Middle East & North Africa,High income,Not classified,929000000,8.460994e+09,3.280521
4,4,2007,ARG,Argentina,Latin America & Caribbean,Upper middle income,IBRD,24000000,2.296448e+09,0.792548
...,...,...,...,...,...,...,...,...,...,...
1476,2275,2020,UKR,Ukraine,Europe & Central Asia,Lower middle income,IBRD,18000000,5.924201e+09,4.129198
1477,2276,2020,URY,Uruguay,Latin America & Caribbean,High income,IBRD,25000000,1.163608e+09,2.321460
1478,2277,2020,USA,United States,North America,High income,Not classified,687000000,7.782320e+11,3.741160
1479,2281,2020,XKX,Kosovo,Europe & Central Asia,Upper middle income,IDA,1000000,7.896501e+07,1.060553
1480,2283,2020,ZMB,Zambia,Sub-Saharan Africa,Low income,IDA,1000000,2.121424e+08,1.154225

In [54]:
df.describe()

,Unnamed: 0,Year,Arms imports (SIPRI trend indicator values),Military expenditure (current USD),Military expenditure (% of GDP)
count,1481.000000,1481.000000,1.481000e+03,1.481000e+03,1481.000000
mean,1143.244429,2013.547603,2.418325e+08,1.561759e+10,2.121926
std,651.580640,3.973467,4.949061e+08,6.920290e+10,1.677999
min,0.000000,2007.000000,0.000000e+00,0.000000e+00,0.000000
25%,588.000000,2010.000000,1.000000e+07,4.015291e+08,1.131309
50%,1142.000000,2014.000000,4.800000e+07,2.279622e+09,1.594822
75%,1709.000000,2017.000000,2.300000e+08,6.846249e+09,2.578160
max,2283.000000,2020.000000,5.381000e+09,7.782320e+11,13.325672

# **IN 2017**

In [55]:
df1=df[df['Year']==2017]
df1

,Unnamed: 0,Year,Country Code,Country Name,Region,Income Group,Lending Type,Arms imports (SIPRI trend indicator values),Military expenditure (current USD),Military expenditure (% of GDP)
1060,1634,2017,AFG,Afghanistan,South Asia,Low income,IDA,252000000,1.914071e+08,0.945227
1061,1635,2017,AGO,Angola,Sub-Saharan Africa,Lower middle income,IBRD,110000000,3.062873e+09,2.507985
1062,1636,2017,ALB,Albania,Europe & Central Asia,Upper middle income,IBRD,4000000,1.443827e+08,1.108696
1063,1638,2017,ARG,Argentina,Latin America & Caribbean,Upper middle income,IBRD,47000000,5.459644e+09,0.856138
1064,1639,2017,ARM,Armenia,Europe & Central Asia,Upper middle income,IBRD,18000000,4.436104e+08,3.849731
...,...,...,...,...,...,...,...,...,...,...
1160,1786,2017,UGA,Uganda,Sub-Saharan Africa,Low income,IDA,21000000,3.467629e+08,1.096079
1161,1787,2017,UKR,Ukraine,Europe & Central Asia,Lower middle income,IBRD,4000000,3.246787e+09,2.884402
1162,1789,2017,USA,United States,North America,High income,Not classified,516000000,6.467530e+11,3.313381
1163,1791,2017,VNM,Vietnam,East Asia & Pacific,Lower middle income,IBRD,783000000,5.073854e+09,2.267970
1164,1795,2017,ZMB,Zambia,Sub-Saharan Africa,Low income,IDA,44000000,3.396645e+08,1.309596

In [62]:
df2=df1[df1['Country Name'].isin(['United States','China','Russian Federation','India','Pakistan'])]
df2

,Unnamed: 0,Year,Country Code,Country Name,Region,Income Group,Lending Type,Arms imports (SIPRI trend indicator values),Military expenditure (current USD),Military expenditure (% of GDP)
1079,1662,2017,CHN,China,East Asia & Pacific,Upper middle income,IBRD,1338000000,2.104430e+11,1.746455
1103,1700,2017,IND,India,South Asia,Lower middle income,IBRD,2909000000,6.455944e+10,2.531463
1137,1748,2017,PAK,Pakistan,South Asia,Lower middle income,Blend,837000000,1.146125e+10,3.774449
1145,1759,2017,RUS,Russian Federation,Europe & Central Asia,Upper middle income,IBRD,93000000,6.691303e+10,4.248996
1162,1789,2017,USA,United States,North America,High income,Not classified,516000000,6.467530e+11,3.313381

In [67]:
px.bar(df2, x = 'Country Name', y = 'Military expenditure (current USD)',color='Country Name',title='Bar chart showing the total forest area in selected countries',height=500,
template=list(plotly.io.templates.keys())[5])

**OBSERVATIONS**
   * In 2017, the United States' military spending (in current dollars) is nearly [$646 billion](#theme-installion). When it comes to China Â its military expenditure is [210 billion](#theme-installion).          India's military expenditure (current USD) is [64.5 billion](#theme-installion), and Russia's military expenditure (current USD) is [66.9 billion](#theme-installion). Finally, Pakistan's military         expenditure in current USD is [11.4 billion](#theme-installion).

* Here, the **U.S** Military expenditure is at the [top](#theme-installion) with $646 billion and **PAKISTHAN** is at the bottom with $11.4B.