<a href="https://colab.research.google.com/github/konkasivaji/690-stats-and-visulaization/blob/main/Assignment-03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Printing 10 by 10 matrix neatly arranged like the following (one space between each number)

In [1]:
import random
for i in range(0,10):
    for j in range(0,10):
        print(random.randint(0,9),end=" ")
    print('')

2 9 4 9 9 6 9 4 6 2
9 3 5 1 8 9 9 1 8 5
1 1 9 5 0 7 3 2 1 5
2 4 8 8 2 3 2 3 1 7
9 4 1 2 3 4 5 6 3 7
8 4 1 4 5 1 1 6 3 0
2 7 7 5 6 6 5 2 7 2
1 4 2 6 4 0 3 2 9 3
0 2 6 4 4 0 6 1 1 9
9 9 9 3 8 4 3 6 8 8

Printing if the random number is an odd number, print "@" instead. like the following:

In [2]:
for i in range (0,10):
    for j in range (0,10):
        k=random.randint(0,9)
        if k%2==0:
            print(k,end=' ')
        else:
            print('@',end=' ')

    print('')

@ @ 8 6 @ @ 8 @ @ @
6 @ 6 @ @ @ @ @ @ @
@ @ @ @ 2 @ @ @ @ @
@ @ 2 8 @ 4 @ 6 @ 8
0 0 @ 2 @ @ 4 8 @ @
@ 4 @ @ 6 @ 8 8 @ 0
6 2 @ @ @ @ @ @ 2 8
6 4 4 @ 8 @ 4 0 8 0
@ @ @ 6 @ 8 2 0 @ @
2 @ 8 8 8 @ 2 0 0 @

Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [3]:
for i in range (0,10):
  Sum=0                   # Taking sum=0 intially
  for j in range (0,10):
    k=random.randint(0,9)
    Sum=Sum+k             # Adding the each value to sum and storing in it.
    print(k,end=' ')
  print('*',Sum,end=' ')

  print(' ')

0 5 7 1 4 6 7 9 0 7 * 46
6 0 7 0 9 3 4 8 6 2 * 45
7 2 1 2 7 1 9 6 4 0 * 39
5 1 6 3 5 2 5 1 5 6 * 39
4 1 0 5 9 0 7 9 7 7 * 49
6 2 6 7 1 1 3 7 3 2 * 38
0 8 4 5 1 8 9 7 4 3 * 49
7 9 2 3 0 4 5 3 0 4 * 37
8 6 1 3 1 9 0 9 6 6 * 49
5 9 1 9 8 5 5 7 6 4 * 59

Surround the matrix with asterisks (*) like the following:

In [5]:
for i in range (0,23):
    print('*',end='') # to print top * line
print('')
for j in range (0,10):
    Sum=0
    print('*',end='')
    for n in range (0,10):
        k=random.randint(0,9)
        Sum=Sum+k
        print('',k,end='')
    
    print(' *',end='')
    print('')
for h in range (0,23):
    print('*',end='')  # # to print bottom * line

***********************
* 3 2 4 1 1 5 3 0 5 2 *
* 2 9 2 9 9 0 2 1 5 1 *
* 6 8 7 9 8 4 6 5 9 3 *
* 8 4 8 0 7 3 5 9 8 8 *
* 6 4 5 9 2 6 4 5 4 6 *
* 4 1 6 6 1 6 3 1 2 3 *
* 9 1 5 0 0 3 3 4 8 5 *
* 4 6 8 6 5 4 1 9 8 4 *
* 2 1 0 2 3 5 5 4 6 8 *
* 5 4 0 9 9 0 5 4 5 7 *
***********************

Calculate and Print the total of each row and column like the following:

In [6]:
col_sum = [0]*10
row_val = 0
for i in range(10):
    row_val = 0
    for j in range(10):
        val = random.randint(0,9)
        row_val=row_val+val
        col_sum[j] = col_sum[j] + val
        print(val, end="  ") 
    print("*",end=" ")
    print(row_val,end="  ")
    print("\n")
for k in range(10):
    print("*",end="  ")
i = 0
print("\n")
while i<=9:
    print(col_sum[i],end=" ")
    i= i+1

3  4  5  2  3  3  6  2  0  4  * 32

7  1  1  9  7  3  3  6  4  0  * 41

9  7  0  3  4  1  8  7  7  6  * 52

8  8  3  3  7  0  1  3  2  1  * 36

1  5  6  1  3  5  2  2  6  5  * 36

5  6  1  5  6  7  7  8  5  9  * 59

4  8  0  2  8  4  9  6  3  2  * 46

9  8  4  5  2  4  2  6  3  8  * 51

3  2  5  2  9  4  5  2  9  9  * 50

4  2  2  3  0  0  7  1  9  6  * 34

*  *  *  *  *  *  *  *  *  *

53 51 27 35 49 31 50 43 48 50